html {
  min-height: 100%;
}

body {
  background: hsla(221, 45%, 73%, 1);
  background: linear-gradient(
    135deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

h4 {
  margin-top: 0;
  font-size: 1em;
}

.border {
  border: solid red 1px;
}

.border-white {
  border: solid white 1px;
}

.container {
  padding: 1em;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.weather-card {
  padding: 3em;
  border-radius: 2em;
}

.toggle {
  display: flex;
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  width: 13%;
  margin-left: auto;
  margin-right: 2em;
  margin-top: 1em;
}

.searchbar {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1em;
}

.temperature {
  font-size: 3em;
}

.hi-temp {
  margin-bottom: .5em;
}

.lo-temp {
  margin-top: .5em;
}